@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
}

/*Acá importo las variables definidas en archivos separados .scss*/
/*Estructura responsive*/
@media only screen and (max-width: 767px) {
  .fondoHome {
    background-image: url(../images/fondo.jpg);
  }
  .textoHome {
    padding: 50px 15px 0px 15px;
    width: 100%;
  }
  .tituloHome {
    font-size: 30px;
  }
  .parrafoHome {
    font-size: 12px;
  }
  .titleNosotros {
    height: 200px;
  }
  .parrafoNosotros {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .contentNos__img {
    display: none;
  }
  .titleServicios {
    height: 200px;
  }
  .titleProyectos {
    height: 200px;
  }
  .titleContacto {
    height: 200px;
  }
  .imgContacto {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .fondoHome {
    background-image: url(../images/fondo.jpg);
  }
  .textoHome {
    padding: 50px 25px 0px 25px;
    width: 75%;
  }
  .tituloHome {
    font-size: 40px;
  }
  .parrafoHome {
    font-size: 16px;
  }
  .titleNosotros {
    height: 300px;
  }
  .parrafoNosotros {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 12px;
  }
  .titleServicios {
    height: 300px;
  }
  .titleProyectos {
    height: 300px;
  }
  .titleContacto {
    height: 300px;
  }
}

@media only screen and (min-width: 1200px) {
  .fondoHome {
    background-image: url(../images/fondoDesktop.jpg);
  }
  .textoHome {
    padding: 50px 35px 0px 35px;
    width: 50%;
    margin-left: 80px;
  }
  .tituloHome {
    font-size: 50px;
  }
  .parrafoHome {
    font-size: 18px;
  }
  .titleNosotros {
    height: 400px;
  }
  .parrafoNosotros {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 200px;
  }
  .titleServicios {
    height: 400px;
  }
  .titleProyectos {
    height: 400px;
  }
  .titleContacto {
    height: 400px;
  }
}

/*Estilos del proyecto*/
/*Header*/
.bg-black {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-decoration: none;
  width: 100%;
}

.logo {
  height: 50px;
}

/*Características general*/
/*Atributos que se asignan en más de una página*/
.tituloDePagina {
  font-family: 'Cormorant Garamond', serif;
  color: white;
  font-size: 10vw;
  overflow: hidden;
  z-index: -1;
}

.margenes {
  margin: 5%;
}

.margenesCero {
  margin: 0;
}

.img {
  height: 100%;
}

.img100w {
  width: 100%;
}

/*Cuerpo Home*/
.fondoHome {
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.dimensionesHome {
  height: 90vh;
  margin: 0;
}

.tituloHome {
  font-family: 'Cormorant Garamond', serif;
  color: #fba01d;
}

.parrafoHome {
  font-family: "Montserrat", sans-serif;
  color: white;
}

/*Cuerpo Nosotros*/
.titleNosotros {
  background-image: url(../images/caratulaNosotros.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.contentNos__img {
  overflow: hidden;
  height: 500px;
  margin-bottom: 10px;
}

.contentNos__txt {
  font-family: "Montserrat", sans-serif;
  color: black;
  margin-bottom: 150px;
}

/*Cuerpo Servicios*/
.titleServicios {
  background-image: url(../images/caratulaServicios.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.contentServ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.contentServ__title {
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  color: #1f5c70;
  padding-top: 10px;
}

.contentServ__txt {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
}

/*Cuerpo Proyectos*/
.titleProyectos {
  background-image: url(../images/caratulaProyectos.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.contentProy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.contentProy__title {
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  color: #1f5c70;
  padding-top: 10px;
}

.contentProy__subTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.contentProy__txt {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
}

/*Cuerpo Contacto*/
.titleContacto {
  background-image: url(../images/caratulaContacto.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

form {
  font-size: 16 pt;
  font-family: "Montserrat", sans-serif;
}

form input {
  font-size: 16 pt;
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  margin-bottom: 20px;
}

.botonForm {
  font-size: 16 pt;
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  color: white;
  background-color: #1f5c70;
  padding: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-style: none;
}

.botonForm:hover {
  background-color: #fba01d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

form textarea {
  font-size: 16 pt;
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  margin-bottom: 20px;
}

form div select {
  font-size: 16 pt;
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  margin-bottom: 20px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 15% 0px 25px;
}

.imgContacto {
  height: 530px;
  overflow: hidden;
  margin-bottom: 10px;
}

/*Footer*/
footer {
  background-color: black;
  color: #505050;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icons {
  height: 25px;
  margin: 10px;
}

.logoLli:hover {
  content: url(../images/logoLli.svg);
}

.iconoInstagram:hover {
  content: url(../images/iconoInstagram.svg);
}

.iconoMail:hover {
  content: url(../images/iconoMail.svg);
}

.designedBy {
  color: #505050;
  text-decoration: none;
}

.designedBy:hover {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */